#alert{
    background-color: red;
}

#confirm{
    background-color: yellow;
}

#prompt{
    background-color: yellowgreen;
}

.button{
    float: left;
    padding: 50px;
}

#dialogBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none; /* block */
    top:0;
    left: 0;

    background-color: rgba(0,0,0,0.4);

    text-align: center;
}

.title{
    user-select: none;
    visibility: 0;
}